/*body
{
    background: #dbd9d9;
}

img
{
    margin: 5px;
    border: 2px solid black;
    vertical-align: middle;
}*/

/*#options {
    font-family: 'Pontano Sans', sans-serif;
    width: 50%;
    margin: 20px 25%;
    float: left;
}*/

/*#options #header {
    display: block;
    clear: both;
}*/

#options #header h1 {
    float: left;
}

#options #header img {
    float: left;
}

#options #settings > div {
    border: 1px solid #f0f0f0;
    padding: 5px;
    margin-bottom: 10px;
}

/*#options #content {
    float: right;
    clear: right;
}*/

/*#options #footer {
    float: right;
    clear: both;
}*/
/*
#options #footer #controls {
    width: 100%;
    text-align: right;
}

label[title^="Help:"] {
    background: url('../images/icon19.png') no-repeat;
    height: 19px;
    padding: 0 0 0 25px;
}*/